.form {
	&-group {
		margin: 0.5rem 0;
	}
	&-text {
		display: block;
		margin-top: 0.3rem;
		color: #888;
	}

	input[type='text'],
	input[type='email'],
	input[type='password'],
	input[type='date'],
	select,
	textarea {
		display: block;
		width: 100%;
		padding: 0.4rem;
		font-size: 1.2rem;
		border: 1px solid #ccc;
	}
	input[type='submit'] {
		font: inherit;
	}

	.social-input {
		display: flex;

		i {
			padding: 0.5rem;
			width: 4rem;

			&.fa-twitter {
				color: #38a1f3;
			}
			&.fa-facebook {
				color: #3b5998;
			}
			&.fa-instagram {
				background: radial-gradient(
					circle at 30% 107%,
					#fdf497 0%,
					#fdf497 5%,
					#fd5949 45%,
					#d6249f 60%,
					#285aeb 90%
				);
				-webkit-background-clip: text;
				/* Also define standard property for compatibility */
				background-clip: text;
				-webkit-text-fill-color: transparent;
				font-size: 40px; /* change this to change the size*/
			}
			&.fa-youtube {
				color: #c4302b;
			}
		}
	}
}
